@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
  font-family: outfit;
}

body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color : inherit;
}

/* pure website ke width 80% kar diye  */
.app{
  width : 80%;
  margin : auto;
}

 /* reload karne par header  content thoda animation ke saath aayega aur isko hm header.css me use kar lenge fadeIn ko  */

@keyframes fadeIn{
 0%{
  opacity: 0;
 }
 100%{
  opacity: 1;
 }
}